"""Configuration for testtube.

Automatically run tests when files change by running: stir

See: https://github.com/thomasw/testtube
"""

from testtube.helpers import Flake8, Helper, Nosetests, Pep257


class ScreenClearer(Helper):
    command = 'clear'

    def success(self, *args):
        pass

clear = ScreenClearer(all_files=True)
lint = Flake8(all_files=True)
lint_docs = Pep257(all_files=True)
test = Nosetests()

PATTERNS = (
    (r'.*\.py$', [clear, lint, test, lint_docs], {'fail_fast': True}),
)
